*{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  

}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1000px;
    padding: 0;
    position: relative;
    margin: 0;
}
.first-image{
  width: 100%;
  height: 80vh; 
  background-image: url("demo-1.jpg");
  background-size: cover;
  background-position: center;  
  padding: 20px;
  object-fit: cover;
 
  

}
.image-text{
  text-align: justify;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
}


.container {
  display: flex;
  justify-content: space-between;
}

.benefit {
  flex: 1;
  padding: 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.mid-tag{
  text-align: center;
  padding: 10 10;
  margin-bottom: 20px;
  font-size: 30px;
}

.benefit h3 {
  margin-top: 0;
}

.benefit p {
  margin-bottom: 0;
}

.benefit img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  
}

.plain-above{
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

.plan {
  width: 30%; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

.plan p {
  padding: 5px;
  margin: 2px 2px;
  margin-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.plan ul {
  padding: 5px;
  margin: 2px 2px;
  margin-left: 15px;
  text-align: center;
}

.plan li {
  list-style-type: none;
  padding: 2px;
  margin: 2px 2px;
}

.plan button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-style: oblique;

}

.plan button:hover {
  background-color: #eb0d96;
}
.container {
  display: flex;
  justify-content: space-between; /* Creates space between the cards */
}
.last-tag{
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

.testimonial {
  flex: 0 0 calc(50% - 10px); /* Each card takes up 50% of the container width with 10px space between */
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.testimonial h3 {
  font-size: 18px;
  margin: 0;
  font-style: italic;
}

